*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body,html {

    color: rgba(0, 0, 0, .8);
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    line-height: 1.2;
}

body {
    font-size: .875rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.BtZOqO {
    display: flex;
    padding: 1.25rem 0 3.125rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}


/* head profile */
.epUsgf {
    display: block;
    flex-shrink: 0;
    width: 180px;
}

.u6SDuY {
    border-bottom: 1px solid #efefef;
    display: flex;
    padding: 15px 0;
}

.shopee-avatar, .w37kB7 {
    height: 50px;
    width: 50px;
}

.shopee-avatar, .w37kB7 {
    height: 50px;
    width: 50px;
}

.shopee-avatar {
    border: .0625rem solid rgba(0, 0, 0, .09);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 1.875rem;
    position: relative;
    width: 1.875rem;
}

.shopee-avatar__placeholder {
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
}


.shopee-avatar__img {
    border-radius: 50%;
}
.shopee-avatar__img, .shopee-avatar__img-wrapper {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.vDMlrj {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 15px;
}

.HtUK6o {
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
    min-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.WDmP96 {
    cursor: pointer;
    list-style: none;
    margin: 27px 0 0;
    padding: 0;
}

.stardust-dropdown {
    position: relative;
}

.jHbobZ {
    align-items: center;
    color: rgba(0, 0, 0, .87);
    display: flex;
    margin-bottom: .9375rem;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.U7dHrp {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    height: 1.25rem;
    justify-content: center;
    line-height: 1.25rem;
    margin-right: .625rem;
    text-align: center;
    width: 1.25rem;
}

.U7dHrp>img {
    height: 100%;
    width: 100%;
}

.mY8KSl {
    line-height: 1rem;
}   

.fnmbfn {
    font-weight: 500;
    margin-right: .3125rem;
}

.Zi3QjJ {
    position: absolute;
    vertical-align: middle;
}

.stardust-dropdown__item-body--open {
    height: auto;
    opacity: 1;
}

.stardust-dropdown__item-body {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height .4s cubic-bezier(.4,0,.2,1), opacity .4s cubic-bezier(.4,0,.2,1);
}

.hGOWVP {
    display: block;
    padding: 0 0 .1875rem 2.125rem;
}

.PcLlJr:hover, .VfX643 {
    color: #ee4d2d;
}
.HVZpoT {
    color: rgba(0, 0, 0, .87);
    color: rgba(0, 0, 0, .65);
    display: block;
    margin-bottom: .9375rem;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.PcLlJr, .jHbobZ {
    text-transform: capitalize;
    transition: color .1s cubic-bezier(.4,0,.2,1);
}

.PcLlJr {
    display: block;
    font-size: .875rem;
}

.PcLlJr:hover, .VfX643 {
    color: #ee4d2d;
}


/* body */




/* profile body */
.utB99K {
    padding: 0 1.875rem .625rem;
}

.SFztPl {
    border-bottom: .0625rem solid #efefef;
    padding: 1.125rem 0;
}

.BVrKV_ {
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
    text-transform: capitalize;
}

.QcW5xy {
    color: #555;
    font-size: .875rem;
    line-height: 1.0625rem;
    margin-top: .1875rem;
}

.RCnc9v {
    padding-top: 1.875rem;
}

.HrBg9Q {
    flex: 1;
    padding-right: 3.125rem;
}

.bQkdAY {
    width: 602px;
}

.f1ZOv_ {
    color: rgba(85, 85, 85, .8);
    min-width: 20%;
    overflow: hidden;
    padding-bottom: 30px;
    text-align: right;
    white-space: nowrap;
}

.o6L4e0 {
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-left: 20px;
}

.e_Vt__ {
    align-items: center;
    display: flex;
}

.PBfYlq {
    color: #333;
    font-size: .875rem;
}

.NGoa5Z {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    overflow: hidden;
    width: 100%;
}

.kKnR04 {
    background: none;
    border: 0;
    -webkit-filter: none;
    filter: none;
    flex: 1;
    flex-shrink: 0;
    outline: none;
    padding: 12px;
}

.e_Vt__ {
    align-items: center;
    display: flex;
}

.clo49Q {
    background: none;
    border: 0;
    color: #05a;
    font-size: .8125rem;
    outline: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-transform: capitalize;
}

.prDHtK .stardust-radio-group {
    display: flex;
}

.prDHtK .stardust-radio {
    margin-right: .75rem;
    padding: 0;
}

.stardust-radio-button__outer-circle {
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .26);
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 18px;
    justify-content: center;
    width: 18px;
}

.stardust-radio-button {
    flex-shrink: 0;
    height: 18px;
    margin-right: 8px;
    position: relative;
    width: 18px;
}


.BWTNUj {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.DbpS_O, .LFFx8j {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hu9cKa {
    color: rgba(0, 0, 0, .8);
}

.DbpS_O {
    align-items: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    color: #bbb;
    flex: 1;
    height: 2.5rem;
    overflow: hidden;
    padding: 0 .9375rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nnElTN {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ZSBTIH {
    display: flex;
    width: 32%;
}

.shopee-svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: relative;
}

.hu9cKa {
    color: rgba(0, 0, 0, .8);
}

.btn {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    align-items: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    outline: 0;
    text-transform: capitalize;
}

.btn-solid-primary {
    background: #ee4d2d;
    color: #fff;
    outline: 0;
    overflow: visible;
    position: relative;
}

.btn--m {
    height: 40px;
    max-width: 220px;
    min-width: 70px;
    padding: 0 20px;
}

.nv7bOz {
    border-left: .0625rem solid #efefef;
    overflow: hidden;
    width: 17.5rem;
}

.nv7bOz {
    justify-content: center;
}

.RCnc9v, .nv7bOz {
    display: flex;
}

.TJWfNh {
    flex-direction: column;
}

.TJWfNh, .nMPYiw {
    align-items: center;
    display: flex;
}

.nMPYiw {
    height: 6.25rem;
    margin: 1.25rem 0;
    position: relative;
    width: 6.25rem;
}
.nMPYiw {
    justify-content: center;
}

.cW0oBM, .gQ6nuc {
    border-radius: 50%;
}

.cW0oBM {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.XbWdh7 {
    display: none;
}


.btn-light {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    color: #555;
    outline: 0;
    overflow: visible;
    position: relative;
}

.btn--inline {
    display: inline-flex;
}

.T_8sqN {
    display: block;
    margin-top: .75rem;
}

.JIExfq {
    color: #999;
    font-size: .875rem;
    line-height: 1.25rem;
}


.uCZvY1 {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    padding: .3125rem 0;
}

.tg_mDB {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fowhUH {
    max-height: 8.375rem;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
}

.GKDolu {
    padding: .3125rem .9375rem;
}


/* address */

.qtYn7m {
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    height: 80px;
    padding: 22px 30px;
}

.lOB9lY {
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.rT9Vbd {
    color: #555;
    font-size: .875rem;
    line-height: 1.0625rem;
    margin-top: 3px;
}

.y3hZ9E {
    margin-left: 10px;
}

.qTzF0g {
    font-size: .875rem;
    font-weight: 400;
    height: 40px;
    padding: 0 20px;
}

.shopee-button-solid--primary {
    background: #ee4d2d;
    outline: 0;
    overflow: visible;
    position: relative;
}

.Oe_bEi {
    flex: 1;
}

.shopee-button-solid {
    align-items: center;
    background: rgba(0, 0, 0, .54);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    position: relative;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    transition: opacity .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.psXjeQ {
    width: 100%;
}

.psXjeQ {
    justify-content: space-between;
}
.psXjeQ, .zNqMl2 {
    align-items: center;
    display: flex;
}

.e65FdS {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 8px;
}

.SXp5o_ {
    padding: 18px 0 20px;
}

.UUD4No {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.UUD4No {
    display: flex;
}

._RPpod {
    min-width: 0;
    width: 100%;
}

.X57SfF {
    margin-bottom: 4px;
}
.V4So7f {
    justify-content: space-between;
}

.QyRpwQ {
    margin-right: 8px;
}
.lWXnp3 {
    flex-grow: 1;
    overflow-x: hidden;
}
.E24UKj, .V4So7f, .YziUfM, .lWXnp3 {
    display: flex;
}

.Fi1zsg {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    line-height: 1.5rem;
}
.OwAhWT {
    font-weight: 500;
    min-width: 0;
}
.OwAhWT {
    display: inline-flex;
}
.E24UKj, .OwAhWT {
    align-items: center;
}

.mjiDsj {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.YJU6OK {
    border-left: .5px solid rgba(0, 0, 0, .26);
    margin: 0 8px;
}

.EYwlqO, .lw_xYb {
    font-size: .875rem;
    line-height: 1.25rem;
}
.lw_xYb {
    color: rgba(0, 0, 0, .54);
}
.N_WJUf {
    white-space: nowrap;
}
.E24UKj, .V4So7f, .YziUfM, .lWXnp3 {
    display: flex;
}
.E24UKj, .OwAhWT {
    align-items: center;
}

.YziUfM {
    flex-basis: 40px;
}

.YziUfM {
    justify-content: flex-end;
}
.E24UKj, .V4So7f, .YziUfM, .lWXnp3 {
    display: flex;
}

.T_oZqJ {
    background: none;
    border: 0;
    color: #08f;
    outline: none;
    padding: 4px;
    white-space: nowrap;
}

.wZ_1w7:last-child {
    margin-right: 0;
}

.aCY_5O {
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.wZ_1w7 {
    margin: 0 4px 4px 0;
}
.ZDVTqW {
    border: .5px solid;
    border-radius: 1px;
    padding: 2px 4px;
}

.k8tV5Y {
    border: 1px solid rgba(0, 0, 0, .26);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    height: 28px;
    line-height: 1.25rem;
    min-width: 0;
    padding: 4px 12px;
    white-space: nowrap;
}

/* oder */

.mRVNLm{

    color: #cd3011 !important;
    border-bottom: #cd3011 1px solid !important;
}

.ashFMQ {
    background: #f5f5f5;
    box-shadow: 0 0 0 2px #f5f5f5;
    min-height: 740px;
}

.QmO3Bu {
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}



.KI5har:hover{
    color: #ee4d2d;
}

.KI5har {
    align-items: center;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .09);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 16px;
    justify-content: center;
    line-height: 19px;
    overflow: hidden;
    padding: 16px 0;
    text-align: center;
    transition: color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.NoH9rC {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Gv8cvd {
    align-items: center;
    background: #eaeaea;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    color: #212121;
    display: flex;
    margin: 12px 0;
    padding: 12px 0;
}

.Gv8cvd>svg {
    margin: 0 15px;
    stroke: #bbb;
}

.Gv8cvd>input {
    background-color: inherit;
    border: 0;
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    outline: none;
}

.YL_VlX {
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin: 12px 0;
}

.J632se:first-child {
    padding-top: 24px;
}

.P2JMvg {
    justify-content: space-between;
    padding: 0 0 12px;
}

.Koi0Pw, .P2JMvg {
    align-items: center;
    display: flex;
}

.RBPP9y {
    align-items: center;
    display: flex;
    white-space: nowrap;
}

.UDaMW3 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.B2SOGC{
    margin: 0 0 0 8px;
}

.B2SOGC>.stardust-button, .Mr26O7>.stardust-button {
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    outline: none;
    padding: 4px 8px;
    text-transform: capitalize;
    color: #ee4d2d;
}

.jgIyoX {
    align-items: center;
    display: flex;
    padding: 0 0 0 10px;
}

.LY5oll {
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, .12);
    display: flex;
    margin: 0 10px 0 0;
    padding: 0 5px 0 0;
    text-align: right;
}

.lXbYsi {
    align-items: center;
    display: inline-flex;
    margin: 0;
}

.O2yAdQ {
    color: rgba(0, 0, 0, .87);
    color: #26aa99;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
}

.LY5oll .icon-free-shipping-line {
    color: #00bfa5;
    font-size: 1rem;
    margin: 0 4px 1px 0;
    vertical-align: middle;
    stroke: #26aa99;
}

.bv3eJE {
    color: #ee4d2d;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}

.bdAfgU:first-child {
    border: 0;
    margin: 0;
}

.dJaa92, .mZ1OWk {
    display: flex;
    word-wrap: break-word;
}
.mZ1OWk {
    align-items: center;
    color: rgba(0, 0, 0, .87);
    flex-wrap: nowrap;
    padding: 12px 0 0;
}

.dJaa92 {
    align-items: flex-start;
    flex: 1;
    flex-wrap: nowrap;
    padding: 0 12px 0 0;
}

.gQuHsZ {
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    flex-shrink: 0;
    height: 80px;
    width: 80px;
}

.nmdHRf {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 0 0 0 12px;
    word-wrap: break-word;
}

.ylYzwa {
    text-align: right;
}

.YRp1mm {
    margin-left: 12px;
}

.q6Gzj5 {
    color: #000;
    margin: 0 4px 0 0;
    opacity: .26;
    overflow: hidden;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    text-overflow: ellipsis;
}

.PNlXhK {
    color: #ee4d2d;
}

.nW_6Oi, .pkAvN3, .q6Gzj5 {
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}

.LwXnUQ {
    background: #fffefb;
    padding: 24px 24px 12px;
}

.NWUSQP {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.juCcT0 {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px 0 0;
}

.t7TQaf {
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}

.yyqgYp {
    align-content: center;
    background: #fffefb;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 24px 24px;
}

.po9nwN {
    display: flex;
}

.aAXjeK, .hbQXWm {
    align-items: center;
    display: flex;
    margin: 0 0 0 10px;
    text-overflow: ellipsis;
}


.aAXjeK, .hbQXWm {
    align-items: center;
    display: flex;
    margin: 0 0 0 10px;
    text-overflow: ellipsis;
}

.stardust-button--primary {
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
}

.QY7kZh:not(.stardust-button--primary) {
    border: 1px solid rgba(0, 0, 0, .09);
    color: #555;
}


/* change password  */

.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
  }

  .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.inputLabel {
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
  }
    .inputDiv {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    border: solid 1px #ccc;
    padding: 0 11px;
  }
  input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
  }
  .buttonWrapper {
    margin-top: 40px;
  }
    .submitButton {
      width: 70%;
      height: 40px;
      margin: auto;
      display: block;
      color: #fff;
      background-color: #065492;
      border-color: #065492;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
  .submitButton:disabled,
  button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
  }
  
  
  
  