@charset "UTF-8";
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#verifyEmailBox{
    background-color: beige;
    width: 50%;
    height: 400px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 50px;
}
#title_verify h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
    font-weight: normal;
}

#title_verify p {
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
    font-weight: normal;
}

#code {
    height: 35px;
    width: 70%;
    border-radius: 16px;
    margin-left: 35px;
    letter-spacing: 10px;
}

#count {
    margin-left: 10px;
    padding: 10px 30px;
    background-color: darkgrey;
    display: none;
    border-radius: 17px;
}

#require_sendcode{

    padding: 10px 20px;
    background-color: darkgrey;
    display: inline;
    border-radius: 17px;
}



#require_sendcode:hover {
    background-color: #00d084;
    cursor: pointer;
}

#submit_verify_email{
    margin-left: 40%;
    height: 50px;
    width: 21%;
    border-radius: 13px;
    background-color: #00d084;
    border: none;

}